<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AdvanceProgrammingCourseWork</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>productImagePath</param-name>
  <param-value>D:/E-commerce/AdvanceProgrammingCourseWork/src/main/webapp/Images/Product/</param-value>
  </context-param>
  
  <context-param>
  <param-name>userImagePath</param-name>
  <param-value>D:/E-commerce/AdvanceProgrammingCourseWork/src/main/webapp/Images/User/</param-value>
  </context-param>
  
</web-app>